---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.10
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c # frozen: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
        exclude: ^\.devcontainer\.json$
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: .md
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: f761d025eb06bcd6a45bf152ba3593c9b8ad9a9b # frozen: 0.36.2
    hooks:
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows
      - id: check-renovate
  # General Linting-related hooks
  - repo: https://github.com/markdownlint/markdownlint
    rev: 6a63be82e63a96cc8a0ba48abdbed819025ef233 # frozen: v0.15.0
    hooks:
      - id: markdownlint
        args:
          [
            --config,
            ".github/lint/.markdownlint.yaml",
            --ignore-path,
            ".gitignore",
          ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0 # frozen: v3.0.0-alpha.0
    hooks:
      - id: prettier
        args:
          [
            --config,
            ".github/lint/.prettierrc.yaml",
            --ignore-path,
            ".gitignore",
          ]
  - repo: https://github.com/adrienverge/yamllint
    rev: cba56bcde1fdd01c1deb3f945e69764c291a6530 # frozen: v1.38.0
    hooks:
      - id: yamllint
        args: [--config-file, .github/lint/.yamllint.yaml]
  # Secrets-related hooks
  - repo: https://github.com/gitguardian/gg-shield
    rev: ca3f7d65b17b7c3dcbec98b870299754adf7ff0e # frozen: v1.48.0
    hooks:
      - id: ggshield
        args: [secret, scan, pre-commit]
  - repo: https://github.com/sirwart/ripsecrets
    rev: 7d94620933e79b8acaa0cd9e60e9864b07673d86 # frozen: v0.1.11
    hooks:
      - id: ripsecrets
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.30.0 # frozen: v8.13.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/godaddy/tartufo
    rev: c5fbbf59c65411152afba79fba6509fb8c030c6d # frozen: v6.0.0
    hooks:
      - id: tartufo
        args: [pre-commit]
  # Python-related hooks
  - repo: https://github.com/pycqa/pylint
    rev: 88e1ab7545a4af4aea15c305a154c164a95ab842 # frozen: v4.0.5
    hooks:
      - id: pylint
        args: ["-rn", "-sn", "--rcfile=.github/lint/.pylintrc"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: a66e98df7b4aeeb3724184b332785976d062b92e # frozen: v1.19.1
    hooks:
      - id: mypy
        args:
          [
            --ignore-missing-imports,
            --follow-imports=silent,
            --no-strict-optional,
          ]
  - repo: https://github.com/psf/black
    rev: 2ddea293a88919650266472186620a98a4a8bb37 # frozen: 22.12.0
    hooks:
      - id: black
  # Golang-related hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: fb24a639f7c938759fe56eeebbb7713b69d60494 # frozen: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-mod-tidy
      - id: go-mod-vendor
  # Terraform-related hooks
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: 40f924cd642f5dc98d12bd97b07f3752223553da # frozen: v0.1.30
    hooks:
      - id: terraform-fmt
      - id: terraform-validate
      - id: tflint
  - repo: https://github.com/aquasecurity/tfsec
    rev: b692c20b68c0121346b7b34e81d6b1867ca8e1a8 # frozen: v1.28.14
    hooks:
      - id: tfsec
  # Ansible-related hooks
  - repo: https://github.com/ansible-community/ansible-lint.git
    rev: 7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0 # frozen: v26.1.1
    hooks:
      - id: ansible-lint
        args: [-c, .ansible-lint.yml]
        files: "^ansible/"
  # Docker-related hooks
  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # frozen: v2.14.0
    hooks:
      - id: hadolint-docker
