---
on:
  push:
    branches:
      - main
    # Only run when there are changes in the src/ images
    paths:
      - "images/**"
  workflow_dispatch:
name: "Build and Push Images"
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - default
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Image - ${{ matrix.image }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          context: "./images/${{ matrix.image }}"
          tags: |
            ghcr.io/${{ github.repository }}/images/${{ matrix.image }}:latest
            ghcr.io/${{ github.repository }}/images/${{ matrix.image }}:${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/images/${{ matrix.image }}:latest
          cache-to: type=inline
